<div class="container-fluid">
  <div class="row">
    <%= form_for(@tr_keagamaan) do |tr_keagamaan| %>


        <div class="form-group">
          <%= tr_keagamaan.label :Tanggal %>
          <%= tr_keagamaan.text_field :tanggal, class:'form-control', type: 'date', placeholder: '',disabled: true %>
        </div>

        <div class="form-group">
          <%= tr_keagamaan.label :Judul %>
         <%= tr_keagamaan.text_field :judul, class:'form-control', type: 'text', placeholder: '',disabled: true %>
        </div>
        <div class="form-group">
           <%= tr_keagamaan.label :Kesimpulan %>
         <%= tr_keagamaan.text_field :kesimpulan, class:'form-control', type: 'text', placeholder: '',disabled: true %>
        </div>
        <%= tr_keagamaan.hidden_field :nama, value: current_ms_user.name %>
        <%= tr_keagamaan.hidden_field :status, value: "Menunggu Di Terima" %>
        <div style="float: left">
  <%= link_to 'Back', '/tr_keagamaans', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>