<br>
<center><h5>Perilaku Hidup Bersih Dan Sehat</h5></center>
<div style="float: right">
  <%= link_to 'Add Data', new_tr_phb_path, class: 'btn btn-success' %>
</div>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Tanggal Olahraga</th>
      <th scope="col">Aktifitas</th>
      <th scope="col">Durasi</th>
      <th scope="col">Tanggal Makan </th>
      <th scope="col">Karbohidrat</th>
      <th scope="col">Protein</th>
      <th scope="col">Sayur</th>
      <th scope="col">Buah</th>
      <% if current_ms_user.role == "2" %>
      <th scope="col">Nama</th>
      <% end %>
      <th scope="col">Status</th>
      <th scope="col" width="300">Action</th>
    </tr>
  </thead>
  <% if current_ms_user.role == "1" %>
<% @tr_phbs.each_with_index do |tr_phb, index|%>
<tbody>
<tr>
      <th scope="row"><%= index + 1 %></th>
      <td> <%= tr_phb.tanggal_olahraga %> </td>
      <td> <%= tr_phb.aktifitas %> </td>
      <td> <%= tr_phb.durasi %> </td>
      <td> <%= tr_phb.tanggal_makan %> </td>
      <td> <%= tr_phb.karbohidrat %> </td>
      <td> <%= tr_phb.protein %> </td>
      <td> <%= tr_phb.sayur %> </td>
      <td> <%= tr_phb.buah %> </td>
      <td> <%= tr_phb.status %> </td>
     <td class="text-center">
        <%= link_to 'Delete',tr_phb_path(tr_phb), method: :delete, data: {confirm: 'Delete Data ? '}, class: 'btn btn-danger' %>
              <%= link_to 'Detail', tr_phb_path(tr_phb), class: 'btn btn-light' %>
              <%= link_to 'Edit', edit_tr_phb_path(tr_phb), class: 'btn btn-primary' %>
              
            </td>
</tbody>
</tr>
<% end %>
<% end %>
 <% if current_ms_user.role == "2" %>
 <% @tr_phb.each_with_index do |tr_phb, index|%>
 <tbody>
<tr>
      <th scope="row"><%= index + 1 %></th>
      <td> <%= tr_phb.tanggal_olahraga %> </td>
      <td> <%= tr_phb.aktifitas %> </td>
      <td> <%= tr_phb.durasi %> </td>
      <td> <%= tr_phb.tanggal_makan %> </td>
      <td> <%= tr_phb.karbohidrat %> </td>
      <td> <%= tr_phb.protein %> </td>
      <td> <%= tr_phb.sayur %> </td>
      <td> <%= tr_phb.buah %> </td>
      <td> <%= tr_phb.nama %> </td>
      <td> <%= tr_phb.status %> </td>
     <td class="text-center">
        <%= link_to 'Setuju',activate_phbs_path(id:tr_phb.id), class: 'btn btn-primary', method: :patch%> 
      </td>
</tbody>
</tr>
<% end %>
<% end %>