<div class="container-fluid">
  <div class="row">
    <%= form_for(@tr_phb) do |tr_phb| %>


        <div class="form-group">
          <%= tr_phb.label :Tanggal_Olahraga %>
         <%= tr_phb.text_field :tanggal_olahraga, class:'form-control', type: 'date', placeholder: '', disabled: true%>
        </div>
        <div class="form-group">
           <%= tr_phb.label :Aktifitas %>
         <%= tr_phb.text_field :aktifitas, class:'form-control', type: 'text', placeholder: '', disabled: true%>
        </div>
        <div class="form-group">
          <%= tr_phb.label :Durasi %>
         <%= tr_phb.text_field :durasi, class:'form-control', type: 'text', placeholder: '', disabled: true %>
        </div>
        <div class="form-group">
          <%= tr_phb.label :Tanggal_Makan %>
          <%= tr_phb.text_field :tanggal_makan, class:'form-control', type: 'date', placeholder: '', disabled: true%>
        </div>
        <div class="form-group">
           <%= tr_phb.label :Karbohidrat %>
         <%= tr_phb.text_field :karbohidrat, class:'form-control', type: 'text', placeholder: '', disabled: true %>
        </div>
        <div class="form-group">
          <%= tr_phb.label :Protein %>
         <%= tr_phb.text_field :protein, class:'form-control', type: 'text', placeholder: '', disabled: true %>
        </div>
        <div class="form-group">
           <%=	 tr_phb.label :Sayur %>
         <%= tr_phb.text_field :sayur, class:'form-control', type: 'text', placeholder: '', disabled: true%>
        </div>
        <div class="form-group">
          <%= tr_phb.label :Buah %>
         <%= tr_phb.text_field :buah, class:'form-control', type: 'text', placeholder: '', disabled: true %>
        </div>
       
        <div style="float: left">
  <%= link_to 'Back', '/tr_phbs', class: 'btn btn-primary' %>
        </div>

    <% end %>
  </div, disabled: true